	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" ></a>
	    <h1 class="mui-title">大咖详情</h1>
	</header>
	<nav	 class="mui-bar mui-bar-tab">
		<div class="col-xs-1 col-xs-offset-4">
			<button type="button" class="mui-btn mui-btn-success support">我要提问</button>
		</div>
	</nav>
	<div class="mui-slider">
		<div class="mui-slider-group">
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '1.jpg' %>" /></a>
				<p class	="mui-slider-title">
					张劲松
				</p>
			</div>
		</div>
	</div>
	<div class="introduction">
		<h5>新东方创始人，著名留学、签证、职业规划和人生发展咨询专家，现创“真格”天使投资基金。</h5>
	</div>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">
			<div class="col-xs-8">回答问题总数：21</div>
			<div class="col-xs-4">好评率98%</div>
		</li>
		<li class="mui-table-view-cell">
			<div class="col-xs-7">段数：大咖九段</div>
			<div class="col-xs-5">经验：80/100</div>
		</li>
		<li class="mui-table-view-cell">
			<div class="col-xs-8">获取财富：1024积分</div>
			<div class="col-xs-4">2016-3-22</div>
		</li>
	</ul>
	<div class="question">
		问答项
	</div>
	<ul class="mui-table-view">

		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'shuijiao.jpg' %>">
				<div class="mui-media-body">
					贾君鹏：请问您什么时候结的婚？
					<p class='mui-ellipsis'>
						2015-3-14
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'shuijiao.jpg' %>">
				<div class="mui-media-body">
					贾君鹏：请问您什么时候结的婚？
					<p class='mui-ellipsis'>
						2015-3-14
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'shuijiao.jpg' %>">
				<div class="mui-media-body">
					贾君鹏：请问您什么时候结的婚？
					<p class='mui-ellipsis'>
						2015-3-14
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'shuijiao.jpg' %>">
				<div class="mui-media-body">
					贾君鹏：请问您什么时候结的婚？
					<p class='mui-ellipsis'>
						2015-3-14
					</p>
				</div>
			</a>
		</li>
	</ul>
	</div>