	<header class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">求士</h1>
	</header>
	<nav class="mui-bar mui-bar-tab">
		<!--<div class="col-xs-1 col-xs-offset-4">
			<button type="button" class="mui-btn mui-btn-success support">我的信息</button>
		</div>-->
		<%= link_to "#", :class => 'mui-tab-item mui-active' do %>
			<span class="fa fa-home"></span>
			<span class="mui-tab-label">首页</span>
		<% end %>
		<%= link_to :guests_new, :class => 'mui-tab-item' do %>
			<span class="fa fa-legal"></span>
			<span class="mui-tab-label">建站</span>
		<% end %>
		<%= link_to "#", :class => 'mui-tab-item' do %>
			<span class="fa fa-registered"></span>
			<span class="mui-tab-label">注册</span>
		<% end %>
		<%= link_to "#", :class => 'mui-tab-item' do %>
			<span class="fa fa-child"></span>
			<span class="mui-tab-label">登录</span>
		<% end %>
	</nav>
	<div class="mui-content">
	<div class="mui-slider">
		<div class="mui-slider-group mui-slider-loop">
			<!--支持循环，需要重复图片节点-->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#"><img src="<%= image_url '4.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '1.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '2.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '3.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '4.jpg' %>" /></a>
			</div>
			<!--支持循环，需要重复图片节点-->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#"><img src="<%= image_url '1.jpg' %>" /></a>
			</div>
		</div>
	</div>
	<ul class="mui-table-view">
		<%= render partial: 'personal_list', locals: { personal: @personal } %>
	</ul>
</div>
<script>
	var gallery = mui('.mui-slider');
	gallery.slider({
		interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
	});
</script>