	<header class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">求士</h1>
	</header>
	<div class="mui-content">
	<div class="mui-slider">
		<div class="mui-slider-group mui-slider-loop">
			<!--支持循环，需要重复图片节点-->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#"><img src="<%= image_url '4.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '1.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '2.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '3.jpg' %>" /></a>
			</div>
			<div class="mui-slider-item">
				<a href="#"><img src="<%= image_url '4.jpg' %>" /></a>
			</div>
			<!--支持循环，需要重复图片节点-->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#"><img src="<%= image_url '1.jpg' %>" /></a>
			</div>
		</div>
	</div>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell mui-media">
			<%= link_to "/detail" do %>
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'shuijiao.jpg' %>">
				<div class="mui-media-body">
					张得翻
					<p class='mui-ellipsis'>天使湾投资经理</p>
				</div>
			<% end %>
		</li>
		<li class="mui-table-view-cell mui-media">
			<%= link_to "/detail" do %>
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'muwu.jpg' %>">
				<div class="mui-media-body">
					苏放水
					<p class='mui-ellipsis'>众筹天团投资经理</p>
				</div>
			<% end %>
		</li>
		<li class="mui-table-view-cell mui-media">
			<%= link_to "/detail" do %>
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'cbd.jpg' %>">
				<div class="mui-media-body">
					马德华
					<p class='mui-ellipsis'>美式足球领队</p>
				</div>
			<% end %>
		</li>
		<li class="mui-table-view-cell mui-media">
			<%= link_to "/detail" do %>
				<img class="mui-media-object mui-pull-left" src="<%= image_url 'yuantiao.jpg' %>">
				<div class="mui-media-body">
					焦作人
					<p class='mui-ellipsis'>华谊天团项目部经理</p>
				</div>
			<% end %>
		</li>
	</ul>
</div>
<script>
	var gallery = mui('.mui-slider');
	gallery.slider({
		interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
	});
</script>